doctype html
html
  head
    link(rel="stylesheet", href="/css/index.css")
    title Don't Say It! | 온라인 금칙어 게임
  body
    main#main_container 
      block content
    script(src="/socket.io/socket.io.js")
    script(src="/js/index.js")
