extends layout.pug

block content
    div#room_container
        header.room_header 
            span.exit_button 
                i.fa-solid.fa-chevron-left
            p 남은 시간 
                span.timer 2:00
        div.chat_list
            p.notice ⚠️ 불쾌감을 줄 수 있는 비속어나 욕설은 삼가주세요.
            p.notice 상대방이 입장했습니다. 
            p.notice 상대방의 금칙어는 
                span 나도
                |입니다.
            p.notice 대화 주제: 취미
            div.other_msg 
                span 상대
                p 안녕하세요 제 이름은...
            div.my_msg                
                p 안녕하세요 제 이름은...
            div.other_msg 
                span 상대
                p 뭔데요 ㅋ
            div.other_msg 
                span 상대
                p 안녕하세요 제 이름은...
            div.my_msg                
                p 안녕하세요 제 이름은...
            div.other_msg 
                span 상대
                p 뭔데요 ㅋ
            div.other_msg 
                span 상대
                p 안녕하세요 제 이름은...
            div.my_msg                
                p 안녕하세요 제 이름은...
            div.other_msg 
                span 상대
                p 뭔데요 ㅋ        
        form.message_form            
            div.time_control
                span 가능 횟수: 3  
                div 
                    span 
                        i.fa-solid.fa-plus  시간 연장
                    span 
                        i.fa-solid.fa-minus  시간 단축
            div.input_container                                
                input(type="text", placeholder="메시지를 입력해주세요.", maxLength=150)
                button
                    i.fa-solid.fa-arrow-up