extends layout.pug

block content
    div#room_container
        header.room_header 
            span.exit_button 
                i.fa-solid.fa-chevron-left
            div.word_container 
                p 상대방의 금칙어
                span.forbidden_word
            span.timer 2:00
        div.chat_list        
            p.loading_msg 상대방을 기다리는 중입니다...             
        form.message_form            
            div.time_control
                p 변경 기회: 
                    span.remain_chances 3  
                div 
                    span.extend_button 
                        i.fa-solid.fa-plus  시간 연장
                    span.shorten_button 
                        i.fa-solid.fa-minus  시간 단축
            div.input_container                                
                input(type="text", placeholder="메시지를 입력해주세요.", maxLength=150)
                button
                    i.fa-solid.fa-arrow-up    
        include partials/exitModal
        include partials/resultModal
        include partials/winLossModal
    script(src="/socket.io/socket.io.js")
    script(src="/js/room.js")