extends layout.pug

block content
    div#room_container
        header.room_header 
            span.exit_button 나가기
            p.time_remaining 남은 시간 
                span 1:54
        div 채팅창
        div 입력 폼