* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: flex;
  height: 100dvh;
  color: #4d4d4d;
  justify-content: center;
  background-color: #e2e1e0;
}

main#layout {
  display: flex;
  padding: 0 1rem;
  max-width: 32rem;
  background-color: #fff;
  flex: 1 1 0%;
  flex-direction: column;
}

input:focus {
  outline: 2px solid #ffa600a5;
}
