:root {
  --primary-color: #ffa600;
  --primary-bg-color: #fcfcfc;
  --secondary-bg-color: #d2d2d270;
  --tertiary-bg-color: #2b2b2bdf;
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #fcfcfc;
  --tertiary-text-color: #d2d2d243;
  --layout-color: #e2e1e0;
  --border-color: #d2d2d2;
  --info-color: #7c7c7c;
  --accent-color: #fd5252;
}

/* 다크 모드 */
[data-theme="dark"] {
  --primary-color: #ffa600;
  --primary-bg-color: #2b2b2b;
  --secondary-bg-color: #1f1f1f;
  --tertiary-bg-color: #2b2b2b;
  --primary-text-color: #efefef;
  --secondary-text-color: #2b2b2b;
  --tertiary-text-color: #7c7c7c;
  --layout-color: #121212;
  --border-color: #3d3d3d;
  --info-color: #9e9e9e;
  --accent-color: #fd5252;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: flex;
  height: 100dvh;
  color: var(--primary-text-color);
  justify-content: center;
  background-color: var(--layout-color);
  transition: background-color 0.5s ease;
}

main#layout {
  display: flex;
  max-width: 32rem;
  background-color: var(--primary-bg-color);
  flex: 1 1 0%;
  flex-direction: column;
  transition: background-color 0.5s ease;
}

input:focus {
  outline: 2px solid #ffa600a5;
}

.box-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

p#toast_msg {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  padding: 0.5rem 1rem;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  z-index: 1;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  background-color: var(--tertiary-bg-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

[data-theme="dark"] p#toast_msg {
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
}

p#toast_msg.active {
  opacity: 1;
  visibility: visible;
}
