div#room_container {
  display: flex;
  padding: 0 1rem;
  color: #4d4d4d;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

header.room_header {
  display: flex;
  position: relative;
  height: 3rem;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
}

header.room_header > span.exit_button {
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-50%);
}

header.room_header > p.time_remaining {
  text-align: center;
  flex-grow: 1;
}

header.room_header > p.time_remaining > span {
  font-weight: 600;
}

form.message_form {
  display: flex;
  position: relative;
  margin-bottom: 0.8rem;
}

form.message_form > input {
  padding: 1rem 3.1rem 1rem 1rem;
  border: none;
  flex-grow: 1;
  border-radius: 25px;
  background-color: #d2d2d270;
}

form.message_form > button {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  width: 37px;
  height: 37px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: #ffa500;
  border-radius: 50%;
}
