div#room_container {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 0;
  overflow: hidden;
}

header.room_header {
  display: flex;
  position: relative;
  height: 3rem;
  padding: 0.2rem 1rem;
  align-items: center;
  box-shadow: 0 4px 4px -2px var(--secondary-bg-color);
  user-select: none;
}

header.room_header > span.exit_button {
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-50%);
}

header.room_header > div {
  text-align: center;
  flex: 1 1 0%;
  visibility: hidden;
}

header.room_header > div > p {
  font-size: 0.8rem;
}

header.room_header > div > span.forbidden_word {
  color: var(--accent-color);
  font-weight: 500;
}

header.room_header > span.timer {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-weight: 500;
  transform: translateY(-50%);
}

div.chat_list {
  padding: 0 1.5rem 1rem 1.5rem;
  flex: 1 1 0%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div.chat_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

div.chat_list > p.notice,
p.loading_msg {
  color: var(--info-color);
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.8rem;
}

div.chat_list > p.notice > span {
  color: var(--accent-color);
}

div.chat_list > div.other_msg > p,
div.my_msg > p {
  display: inline-block;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
}

div.chat_list > div.other_msg {
  margin-top: 0.8rem;
}

div.chat_list > div.other_msg > span {
  display: block;
  font-weight: 500;
  user-select: none;
}

div.chat_list > div.other_msg > p {
  background-color: var(--secondary-bg-color);
  margin-top: 0.5rem;
  max-width: 15rem;
  word-break: break-all;
}

div.chat_list > div.other_msg > p > span {
  color: var(--accent-color);
}

div.chat_list > div.my_msg {
  text-align: end;
  margin-top: 0.8rem;
}

div.chat_list > div.my_msg > p {
  color: var(--secondary-text-color);
  text-align: start;
  background-color: var(--primary-color);
  max-width: 15rem;
  word-break: break-all;
}

div.chat_list > div.my_msg > p > span {
  color: var(--accent-color);
}

@media (max-width: 400px) {
  div.chat_list > div.other_msg > p,
  div.chat_list > div.my_msg > p {
    max-width: 10rem;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  div.chat_list > div.other_msg > p,
  div.chat_list > div.my_msg > p {
    max-width: 12rem;
  }
}

form.message_form {
  display: flex;
  position: relative;
  padding: 0.8rem 1rem 1.2rem;
  flex-direction: column;
  box-shadow: 0 4px 4px 6px var(--secondary-bg-color);
}

form.message_form > div.message_preview {
  display: flex;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  width: calc(100% - 3rem);
  padding: 0.7rem 1rem;
  color: var(--primary-text-color);
  border-radius: 1rem;
  cursor: pointer;
  transform: translateX(-50%);
  background-color: var(--secondary-bg-color);
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

form.message_form > div.message_preview.active {
  opacity: 1;
  visibility: visible;
}

form.message_form > div.message_preview > label {
  font-weight: 500;
}

form.message_form > div.message_preview > p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 0%;
}

form.message_form > span.scrolldown_button {
  position: absolute;
  top: -3rem;
  left: 50%;
  padding: 0.1rem 0.5rem;
  color: var(--info-color);
  font-size: 0.9rem;
  transform: translateX(-50%);
  background-color: var(--primary-bg-color);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}

[data-theme="dark"] form.message_form > span.scrolldown_button {
  border: 2px solid var(--border-color);
}

form.message_form > span.scrolldown_button.active {
  opacity: 1;
  visibility: visible;
}

form.message_form > span.guess_button {
  display: flex;
  position: absolute;
  top: -4rem;
  width: 3rem;
  height: 3rem;
  color: var(--primary-text-color);
  font-size: 1.2rem;
  background-color: var(--primary-bg-color);
  cursor: pointer;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
}

[data-theme="dark"] form.message_form > span.guess_button {
  border: 1.5px solid var(--border-color);
}

form.message_form > div.time_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

form.message_form > div.time_control > p {
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

form.message_form > div.time_control > div > span {
  padding: 0.3rem 0.5rem;
  color: var(--info-color);
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  margin-right: 0.5rem;
}

form.message_form > div.input_container {
  display: flex;
  position: relative;
  flex: 1 1 0%;
  margin-top: 0.8rem;
}

form.message_form > div.input_container > input {
  padding: 1rem 3.1rem 1rem 1rem;
  border: none;
  color: var(--primary-text-color);
  font-size: 16px;
  flex: 1 1 0%;
  border-radius: 25px;
  background-color: var(--secondary-bg-color);
  caret-color: var(--primary-text-color);
}

form.message_form > div.input_container > button {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  width: 37px;
  height: 37px;
  border: none;
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  border-radius: 50%;
}

dialog {
  top: 50%;
  left: 50%;
  width: 14.5rem;
  padding: 1.2rem;
  border: none;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

[data-theme="dark"] dialog {
  border: 1px solid var(--border-color);
}

dialog:focus {
  outline: none;
}

dialog > div.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

dialog > div.modal_container > div.button_container {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.4rem;
}

dialog > div.modal_container > div.button_container > button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

dialog > div.modal_container > div.button_container > button:focus {
  outline: none;
}

dialog.exit_modal > div.modal_container > p {
  color: var(--primary-text-color);
  margin-bottom: 0.5rem;
}

dialog.result_modal > div.modal_container > h2 {
  color: var(--primary-text-color);
}

dialog.result_modal > div.modal_container > p {
  color: var(--primary-text-color);
  font-size: 0.9rem;
  text-align: center;
}

dialog.winLoss_modal > div.modal_container > h2 {
  color: var(--primary-text-color);
}

dialog.winLoss_modal > div.modal_container > div.desc_container {
  text-align: center;
}

dialog.winLoss_modal > div.modal_container > div.desc_container > span {
  color: var(--primary-text-color);
  font-size: 0.9rem;
}

dialog.winLoss_modal > div.modal_container > div.desc_container > p {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 1.2rem;
}

dialog.exit_modal
  > div.modal_container
  > div.button_container
  > button.modal_closeBtn,
dialog.result_modal
  > div.modal_container
  > div.button_container
  > button.modal_exitBtn,
dialog.winLoss_modal
  > div.modal_container
  > div.button_container
  > button.modal_exitBtn {
  border: 1px solid var(--border-color);
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

dialog.exit_modal
  > div.modal_container
  > div.button_container
  > button.modal_exitBtn,
dialog.result_modal
  > div.modal_container
  > div.button_container
  > button.modal_matchBtn,
dialog.winLoss_modal
  > div.modal_container
  > div.button_container
  > button.modal_matchBtn {
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}
