dialog.winLoss_modal 
    div.modal_container 
        h2
        div.desc_container
            span 당신의 금칙어
            p 
        div.button_container
            button.modal_exitBtn 나가기
            button.modal_matchBtn 다음 상대 
            